main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5%;
    font-family: arial;
    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}
%container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container {
    @extend %container;
}
.result-container {
    @extend %container;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__translate {
        margin: 20px;
    }
}